# Environment Variables
.env

# Python
__pycache__/
*.pyc
*$py.class

# Django
*/db.sqlite3
db.sqlite3

# System files
.DS_Store

# Media directories
media/csv_files/
media/summaries/

# Migrations
chat_app/migrations/

