Django==5.0.2
django-debug-toolbar==4.4.6
django-heroku==0.3.1
gunicorn==23.0.0
pandas==2.2.3
pinecone-client==2.2.1
python-dotenv==1.0.0
sentence-transformers==2.3.1
langchain==0.3.13
langchain-community==0.3.12
langchain-core==0.3.27
langchain-groq==0.2.2
langchain-huggingface==0.1.2
psycopg2-binary==2.9.9
whitenoise==6.7.0
torch==2.1.2
transformers==4.37.2
numpy==1.26.4
scikit-learn==1.6.0
pydantic>=2.7.4,<3.0.0  # Updated to match langchain's requirement
dj-database-url==2.1.0